.Main {
  display: flex;
  height: 100vh;
  background: linear-gradient(180deg, #282c34 0%, #282c34 20%, #3f87a6 33%, #3f87a6 66%, #282c34 80%, #282c34 100%);

  &__nav {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px 10px;
    background: lightslategrey;
    opacity: .8;
    border-radius: 5px;
    min-width: 200px;
    width: 30%;
    overflow-y: scroll;
  }

  &__content {
    border-radius: 5px;
    margin: 20px 20px 20px 0;
    padding: 20px 10px;
    background: lightslategrey;
    opacity: .8;
    min-width: 200px;
    width: 70%;
    overflow-y: scroll;

    &-list {

    }
  }
}