.Radio {
  //input {-webkit-appearance: none; box-shadow: none !important; }
  //input {box-shadow: none !important; }
  display: flex;
  margin-bottom: 20px;

  &__input {
    margin-right: 15px;

  }
}

.Search {
  border: 0px;
  border-radius: 9px;
}