.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  &__main {
    display: flex;
    justify-content: space-between;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(90deg, #3f87a6 0%, #ebf8e1 50%, #3f87a6 100%);
    margin: auto;
    &-nav {
      display: flex;
      min-width: 30%;
      height: 100%;
      border-right: 1px solid #282c34;
      margin: auto;
      padding: 30px 10px;
    }
    &-content {
      //background: burlywood;
      display: flex;
      flex-grow: 1;
      margin: auto;
      height: 100%;
      padding: 30px 10px;
    }
  }

  &__bar {
    background-color: #282c34;
    max-height: 120px;
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: #61dafb;

    &-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 60px;
    }
    .App-link {
      color: #61dafb;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
